<nb-card class="login-card">
    <nb-card-header style="font-size: 26px;">User Profile</nb-card-header>
    <nb-card-body class="example-items-rows">
        <img src="{{ user.photoUrl }}" alt="User Pictue">
        <div>
            <p>Hello, {{user.name}}!</p>
            <p>Your email: {{user.email}}</p>
            <button nbButton class="logout-btn" (click)="logout()">logout</button>
        </div>
        <!-- <button nbButton disabled>Disabled</button> -->
    </nb-card-body>
</nb-card>