<nb-card class="login-card">
    <nb-card-header style="font-size: 26px;">login page</nb-card-header>
    <nb-card-body class="example-items-rows">
        <button nbButton (click)="loginWithGoogle()">Login</button>
        <!-- <button nbButton disabled>Disabled</button> -->
    </nb-card-body>
</nb-card>