<nb-layout>

    <nb-layout-header fixed>
        <div class="header">
            <img width="32" height="32" alt="Expertrec custom search engine" title="Expertrec custom search engine" nitro-lazy-src="https://cdn-bbdab.nitrocdn.com/CRnHkxBmVZxrcbiUrIdvYpYtKituEQyH/assets/static/optimized/rev-f1a4100/wp-content/uploads/2019/05/Favicon-32p.png"
                class="attachment-large size-large lazyloaded" nitro-lazy-empty="" id="NTc3OjIzOQ==-1" src="https://cdn-bbdab.nitrocdn.com/CRnHkxBmVZxrcbiUrIdvYpYtKituEQyH/assets/static/optimized/rev-f1a4100/wp-content/uploads/2019/05/Favicon-32p.png">
            <span class="header-text">ExpertRec</span>
        </div>
    </nb-layout-header>

    <nb-layout-column class="align-center background">
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
        <div>
            All rights reserved © 2021 ExpertRec
        </div>
    </nb-layout-footer>

</nb-layout>