@import 'themes';
@import '~@nebular/theme/styles/globals';
@include nb-install() {
    @include nb-theme-global();
}

;

/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}